.employeeLabel{
    padding: 20px;
}

.avatar{
    width: 50px;
    border-radius: 50%;
}
.employeeCard{
    display: flex;
    width:200px;
    border-radius: 50px;
    background-color: aliceblue;
    color: black;
    display: inline-block;
    padding:5px;
}

.employee-pill{
    display: flex;
    justify-content: space-evenly;
}

.employeeContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.employeeName{
    font-weight: bold;
}
.employeeDesignation{
    font-weight: 500;
    font-size: 12px;
    color: #525f7c;
}