body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .container{
  display: flex;
  background-color: #282c34;
}

.sidebar{
  width: 20%;
  background-color: rgb(238, 238, 241);
}

.content{
  color: whitesmoke;
  width:100%;
  display: flex;
  padding:40px
} */

.container {
  width: 100%;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px auto;
  background-color: #282c34;
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  background-color: rgb(238, 238, 241);
}

.main {
  grid-area: main;
  height: 100vh;
  background-color: #282c34;
  color: whitesmoke;
}